.app-container {
  font-size: 21px;
}

.profile-page {
  font-size: 21px;
  width: 1000px;
  height: 700px;
  background: white;
  margin-left: 30px;
  border-radius: 20px;
  padding: 30px 80px;
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: left;
  transform: translate(-50%, -40% );
}

.profile-page h1 {
  color: #98bfe3;
}

.profile-page p {
  margin-top: 10px;
  font-size: 25px;
}